<ion-view view-title="Login">

 <div class="bar bar-header bfont">
  <h1 class="title bfont" style="color:#cb3536">CLIENT LOGO</h1>
  <a ng-href="#/food-rate" class="button button-clear"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/next.png"></a>
</div>
  <ion-content>
<div class="mycontent">
	<rating ng-model="rate" max="max"></rating>
	

</div>
  </ion-content>
  <div class="bar bar-footer myfooter">
  <div class="title">powered by beatle buddy</div>
</div>
  </ion-view>