<ion-view view-title="Login">

 <div class="bar bar-header bfont">
  <h1 class="title bfont" style="color:#cb3536">CLIENT LOGO</h1>
  <a ng-href="#/food-rate" class="button button-clear"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/next.png"></a>
</div>
  <ion-content>
<div class="mycontent">
	<p style="color:#171fd0">Please rate us the following</p>
	<p style="width:100%;text-align:center;font-size:18px;">About your visit/order</p>
	<div class="row">
  <div class="col"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/cuple.png"></div>
  <div class="col"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/family.png"></div>
  <div class="col"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/friends.png"></div>
  <div class="col"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/buss.png"></div>
  <div class="col"><img style="width:30px;height:30px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/solo.png"></div>
</div>
<div class="row">
  <div class="col">Couple</div>
  <div class="col">family</div>
  <div class="col">friends</div>
  <div class="col">business</div>
  <div class="col">solo</div>
</div>

<br/>
<p style="width:100%;text-align:center;font-size:18px;">which food you like the most ?</p>
<p>
<div class="row">
<div class="col col-10">
	<img style="width:10px;height:10px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/left.png">

</div>
<div class="col col-80">
	<input type="text" class="control textbox" placeholder="Add Here" style="text-align:center;margin-left:-3px;border:0px">
</div>
<div class="col col-10">
	<img style="width:10px;height:10px" class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/right.png">
</div>
</div>


</p>
<br/>
<p style="width:100%;text-align:center;font-size:18px;">How did you heard about us ?</p>
<p style="color:#666664">
	<div class="row">
  <div class="col" style="color:#cacac9">Newspaper</div>
  <div class="col" style="color:#cacac9">portal</div>
  <div class="col" style="color:#cacac9">just happened to visit</div>
  
</div>
<div class="row" >
  <div class="col" style="color:#cacac9">website</div>
  <div class="col" >friend</div>
  <div class="col" style="color:#cacac9">other</div>
  
</div>
</p>
</div>
  </ion-content>
  <div class="bar bar-footer myfooter">
  <div class="title">powered by beatle buddy</div>
</div>
  </ion-view>