<ion-view view-title="Login">
  <ion-content>
 <div class="loginform">
 <label class="logo">
    <img class="imglogo" ng-src="http://android.par-ken.com/beatleapp/img/logo.png">
  </label>
  <label class="">
    <input type="text" class="textbox control" placeholder="User ID">
  </label>
  <label class="">
    <input type="text" class="textbox control" placeholder="Password">
  </label>
  <a ng-href="#/app/comment" class="item control button button-full bfont" style="background-color: #1bc3f4;color:#ffffff;" >Sign In</a>
   <a style="background-color: #1bc3f4;color:#ffffff;" class="item button button-full bfont control" >Register</a>
</div>
  </ion-content>
  </ion-view>