@font-face {
    font-family: myFont;
    src: url(transformers_movie.ttf);
}
body{
	font-family:myFont;
}
.loginform{
	margin-top: 25%;
	margin-left: 18%;
	margin-right: 18%;


}

.bfont{
	font-family: myFont;
}

.textbox{
margin-top: 8px;
	width: 100%;
	padding: 20px;
	padding-top: 10px;

	}
.control
{
	border: 1px solid;
	border-radius: 5px;
	font-size: 18px;
	font-family: myFont;
}
.logo{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
	width: 79%;
}
.imglogo{
	margin-left: 10%;
	margin-right: 10%;
	width: 150px;
	height: 150px;
}
.back
{
	background-color: #1bc3f4;
	color: #ffffff;
}
.mycontent{
	margin-top: 45px;
	margin-left: 10px;
}
.myfooter
{
	background-color: #d4d4d4;
	color: #c74747;
}